body {
  background-color: #ccc;
}

table{
  position: relative;
  margin: auto;
}

td {
  width: 200px;
  height: 350px;
  background-color: black;
  margin: 10px;
}

/*td.reveal{
  background-image:
}*/
