body {
  background-color: #ccc;
  margin-top: 50px;
}

/*div {
  position: relative;
  margin: auto;
}*/
.table {
  display: table;
  margin: auto;
  table-layout: fixed;
  width: 1212px;
}

div {
  background-image: url('https://pbs.twimg.com/profile_images/588424740223627264/oshWYgF9.jpg');
  background-repeat: round;
  display: table-cell;
  float: left;
  height: 350px;
  margin: 1px;
  overflow: hidden;
  width: 200px;
}
