body {
  background-image: url("http://orig09.deviantart.net/4d5e/f/2007/322/3/e/texture_20_by_insan_stock.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: 50px 0 100px 0;
}
.heart{
  border-radius: 7px;
  height: 25px;
  width: 25px;
  position: fixed;
  top: 20px;
  right: 19px;
}
.heart:hover{
  background-color: rgba(230, 138, 184,.4);
  cursor:pointer;
}

h1{
  font-family: 'Orbitron', sans-serif;
  color: rgba(0,0,0,.65);
  text-align: center;
  margin: 50px 0 20px 0;
  font-size: 60px;
}

h1:hover{
  color: rgba(0,0,0,.75);
  cursor:pointer;
  font-size: 61px;
}

h2{
  font-family: 'Calligraffitti', cursive;
  text-align: center;
  color: white;
  font-size: 37px;
  margin: -15px;
}

.hidden{
  display: none;
}

p{
  font-family: 'Orbitron', sans-serif;
  text-align: center;
  font-size: 26px;
}

nav{
  background-color: rgba(255,255,255,.5);
  border-radius: 3px;
  display: none;
  font-family: 'Orbitron', sans-serif;
  position: fixed;
  right: 20px;
  top: 22px;
  width: 149px;
}

nav li{
  font-size: 20px;
  list-style-type: none;
}

.table {
  display: table;
  margin: auto;
  table-layout: fixed;
  width: 1152px;
}

div {
  background-image: url('https://pbs.twimg.com/profile_images/588424740223627264/oshWYgF9.jpg');
  background-repeat: round;
  border-radius: 5px;
  display: table-cell;
  float: left;
  height: 270px;
  margin: 1px;
  overflow: hidden;
  width: 190px;
}

button{
  border-radius: 10px;
  background-color: rgba(52, 25, 40, 0.4);
  display: block;
  font-size: 27px;
  margin: 35px auto;
  padding: 10px;
  width: 192px;
}

button:hover{
  background-color: rgba(52, 25, 40, 0.8);
  color: white;
}
