body {
	background-color: #f0f0f0;
}

h1 {
	color: #6f7ffa;
	font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-style: italic;
    font-size: 51px;
    margin-top: 50px;
    text-align: center;
}

p {
	font-size: 17px;
	text-align: center;
}

img {
	border: 2px solid #d6d6d6;	
	display: block;
	margin: auto;
}